.cache/
*.log
tmp/
node_modules/
dist/copyq/

# CopyQ puede contener secretos del portapapeles
/copyq/
/waybar/
/zsh/.zsh_history*
/zsh/.zcompdump*
/zsh-before-remove-hyde-*/zsh/.zsh_history*
/zsh-before-remove-hyde-*/zsh/.zcompdump*
