/* User custom styles */
* {
    font-size: 12px;
    font-family: "JetBrainsMono Nerd Font";
}

#clock {
    font-size: 14px;
    font-weight: bold;
}

#custom-cava {
  color: #f5c2e7;
  font-size: 12px;
  padding: 0 6px;
  margin: 0 2px;
  letter-spacing: -2px;
  min-width: 90px;
}

#custom-cpu,
#custom-ram,
#custom-disk {
    color: #c7c7df;
    font-weight: bold;
    padding: 0 6px;
    font-size: 14px;
}
