/* User custom styles */
* {
    font-size: 12px;
    font-family: "JetBrainsMono Nerd Font";
}

#clock {
    font-size: 15px;
    font-weight: bold;
}

#custom-cava {
  color: #f5c2e7;
  font-size: 12px;
  padding: 0 6px;
  margin: 0 2px;
  letter-spacing: -2px;
  min-width: 90px;
}
